.contacts_form {
  display: flex;
  flex-direction: column;

  width: 465px;

  padding-top: 3px;
  margin-bottom: 40px;
}

.contacts_form__user_data {
  width: 220px;
  height: 40px;

  padding-left: 15px;
  margin-bottom: 10px;

  border-color: $accent_1;
  box-sizing: border-box;
}

.contacts_form__user_message {
  width: 100%;
  height: 205px;

  padding: 15px;
  margin-bottom: 10px;

  border-color: $accent_1;
  box-sizing: border-box;
}

.contacts_form__form_btn {
  width: 70px;
  height: 40px;

  padding-left: 15px;
  padding-right: 15px;

  font-family: $alt-font;

  border-radius: inherit;

  &:hover {
    color: $accent_1;
    background-color: white;
    border: 1px solid $accent_1;
  }
}

.unvalid {
  background-color: $accent_1;
  color: $alt-text;

  &::placeholder {
    color: $alt-text;
  }

  &::selection {
    background-color: #fff;
    color: $accent_1;
  }
}