.features {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  margin-bottom: 45px;

  box-sizing: border-box;
}

.features__item {
  position: relative;

  width: 31%;

  padding-right: 30px;

  box-sizing: border-box;

  svg {
    position: absolute;
    left: 0;
    top: 0;

    width: 49px;
    height: 45px;

    fill: $accent_1;
  }
}

.features__title {
  margin-left: 65px;
  margin-top: 0;
  margin-bottom: 30px;

  line-height: 1em;
  font-size: 22px;
  color: $accent_1;
}

.features__descr {
  margin-top: 0;
  margin-bottom: 20px;
}

.features__btn {
  width: 55px;
  height: 32px;

  padding: 8px 12px;

  font-size: 16px;
  font-family: $alt-font;

  border-radius: inherit;
  box-sizing: border-box;
}