@font-face {
  font-family: "bebas";
  src: url("./fonts/BebasNeueRegular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "bebas";
  src: url("./fonts/BebasNeueBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("./fonts/HelveticaNeueLight.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("./fonts/HelveticaNeueBold.ttf");
  font-weight: bold;
}