@import "vars";
@import "fonts";

html {
  scroll-behavior: smooth;
}

body .error {
  background-color: red;
&::placeholder {
   color: white;
 }
}

::placeholder {
  color: $accent_1;
  font-family: $alt-font;
  font-size: 16px;
  font-weight: bold;

  text-transform: uppercase;
}

:focus::placeholder {
  color: transparent;
}

::selection {
  background-color: $accent_1;
  color: #fff;
}

body {
  position: relative;
  width: 1400px;

  margin: 0 auto;
  padding: 0 230px;


  font-size: 12px;
  color: $text;
  line-height: 1.4em;
  font-family: $default-font;

  background: #505050 url("backgrounds/bgr.jpg") center repeat;
  overflow-x: hidden;
  box-sizing: border-box;

  input, textarea {
    font-family: $default-font;
    border: #666 1px solid;
    outline: none;

  &:focus:required:invalid {
     border-color: red;
   }

  &:required:valid {
     border-color: green;
   }
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

b, strong {
  font-weight: bold;
}

h1, h2, h3, h4 {
  font-family: $alt-font;
}

h2 {
  font-size: 20px;
}

@import "components/Btn/btn";
@import "components/Header/_header";
@import "components/Footer/footer";
@import "components/Main/main";
@import "components/SocialList/social_list";
@import "components/Comment/comment";
@import "components/Slider/slider";
@import "components/Features/features";
@import "components/RecentWorks/recent_works";
@import "components/Work/work";
@import "components/WorksList/works_list";
@import "components/PageTitle/page_title";
@import "components/WorkDescription/work_description";
@import "components/AboutUs/about_us";
@import "components/Sidebar/sidebar";
@import "components/ContactUs/contact_us";
@import "components/Blog/blog";
@import "components/Post/post";
@import "components/ContactsForm/contacts_form";


